<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ data["tajuk"] }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/apogeek.css')}}">
</head>
<body>
	<div class="container">
		<h1>Welcome to {{ data["tajuk"] }}</h1>
		Email to {{ data["email"] }}.		
	</div>
	<script type="text/javascript" src="{{ url_for('static',filename='js/apogeek.js')}}"></script>
</body>
</html>